body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.main-container {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.saldos {
  margin-top: 80px;
  margin-left: 200px;
}